:root {
    --primary-color: #4daf54;
}


.container {
    background-image: linear-gradient(to right, #4daf54, #3d8880) ;
    padding-bottom: 80px;
    margin-top: 0;
}

.search-header {
    position: relative;
    margin-bottom: 150px;
}

.search-landing-header-container {
    position: relative;
}

.search-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.search-image-container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.search-landing-image-text {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-70%);
    left: 30%;
    right: 30%;
    color: #fff;
}

.search-landing-heading {
    font-size: 80px;
    margin-bottom: 10px;
}

.search-landing-heading-text {
    font-size: 20px;
}

.search-results-details {
    position: absolute;
    top: calc(91% + 10px);
    transform: translateX(107%);
}

.search-input-container i {
    margin-left: 20px;
}

.search-input-container {
    width: 482px;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: -0px 1px 5px rgb(0, 0, 0, 0.3);
}

.search-input {
    border: none;
    height: 100%;
    padding-right: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

section#search-suggest-button {
    position: absolute;
    top: 116%;
    right: 18%;
    left: calc(26% + 5px);
}

.search-suggest-button--btn {
    color: #000;
    background-color: #fff;
    border: none;
    margin: 0 10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 600;
}

.search-suggest-button--btn.active {
    background-color: #272d40;
    color: var(--primary-color);
}

.search-suggest-button--btn.active:hover {
    background-color: #272d40;
}

.search-suggest-button--btn:hover {
    background-color: rgb(39, 45, 64, .4);
}

.wrap{
    display: flex;
    flex-direction: column;
}

.box-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item-moto {
    background-color: #272d40;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4);
    width: calc(23% + 4px);
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.item__img {
    width: 100%;
    transition: 0.5s ;
}

.item__img img {
    width: 100%;
    object-fit: cover;
}

.item__title, .item__price {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: 0.5s;
}

.item__price {
    margin-bottom: 10px;
}

.item__title {
    color: var(--primary-color);
}

.item__action {
    margin-top: 100px;
    margin-bottom: -150px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.item__action button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
    font-size: 13px;
}

.item__action button:hover {
    transform: scale(0.95);
}

.item-moto:hover .item__img {
    transform: translateY(-50px) rotate(-20deg);
}

.item-moto:hover .item__title {
    transform: translate(-38px, -40px);
}

.item-moto:hover .item__price {
    transform: translate(-33px, -40px);
}

.item-moto:hover .item__action {
    visibility: visible;
    opacity: 100;
    margin-bottom: 0;
    margin-top: 0;
}

#showtext {
    text-align: center;
}